<p id="notice"><%= notice %></p>
<br>
<h1>Materiały dydaktyczne klasy 7-8</h1>
<br>
<br>
<table border="0" cellspacing="30">
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Autor</th>
      
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.title %></td> 
        <td><%= medium.author %></td>
        <td><%= link_to 'Pokaż', medium %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa notatka', new_medium_path %>
