<p id="notice"><%= notice %></p>

<p class='show'>
  <strong>Tytuł:</strong>
  <%= @medium.title %>
</p>

<p class='show'>
  <strong>Autor:</strong>
  <%= @medium.author %>
</p>

<p class='show'>
  <strong>Body:</strong>
  <%= @medium.body %>
</p>

<!--<%= link_to 'Edit', edit_medium_path(@medium) %> | -->
<div id='show-a'> <%= link_to 'Wstecz', media_path %> </div>
